<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo title=false %}
    <title>Álvaro Díaz Vidal</title>
    <link rel="icon" href="{{ "/assets/img/favicon.svg?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Álvaro Díaz Vidal</h1>
        <p><b>Senior Frontend Engineer & Tech Lead</b></p>
        <p class="view">Asturias, Spain</p>
        <p class="view"><a href="mailto:varodv@gmail.com">varodv@gmail.com</a></p>
        <p class="view"><a href="https://www.linkedin.com/in/varodv" target="_blank">LinkedIn</a></p>
        <p class="view"><a href="https://github.com/varodv" target="_blank">GitHub</a></p>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
